:root {
    --color-white: #fff;
    --color-dark: #272727;
    --color-header: #EFF3F2;
    --color-shadowheader: rgb(192, 192, 192);
    --color-shadowoptions: #dddddd;
    --color-cyan: #EBFFFE;
    --color-barra: #00EEFF;
    --color-fontguia: #334C50;
    --color-box: #D2DDE0;
    --color-shadowbox: #bec2c4;
    --color-shadowbox2: #9da7ac;
    --color-shadowbox3: #ccd2d4;
}

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Comic Neue';
    src: url('fonts/ComicNeue.ttf') format('truetype');
    font-weight: 155px;
    font-size: 74px;
}

@font-face {
    font-family: 'JustMeAgain';
    src: url('JustMeAgainDownHere.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Comic Neue', cursive;
    background-image: linear-gradient(180deg, var(--color-white), var(--color-cyan));
    color: var(--color-white);
    margin-bottom: 0;
}

h1 {
    font-family: 'Just Me Again Down Here', cursive;
}

.YLTV {
    width: 200px;
}

.header,
.navigation_header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header {
    background-color: var(--color-header);
    height: 130px;
    box-shadow: 1px 1px 4px var(--color-shadowheader);
    justify-content: space-between;
    padding: 0 5%;
    position: sticky;
    top: 0;
}

.navigation_header {
    gap: 3em;
    font-weight: 400px;
    font-size: 25px;
    font-style: normal;
}

.navigation_header a {
    text-decoration: none;
    color: var(--color-dark);
}

.active:hover {
    background-color: var(--color-shadowbox);
    border-radius: 10px;
    transition: 0.5s;
}

.active {
    padding: 10px;
}

.lentes {
    padding: 10px;
    border-radius: 35px;
    width: 1200px;
}

.content {
    text-align: center;
    padding-top: 5em;
    color: var(--color-dark);
    height: 420vh;
}

.youtube {
    margin: 0px 60px;
    width: 64px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.boxes {
    font-size: 46px;
    font-family: 'Just Me Again Down Here';
    color: var(--color-fontguia);
    background-color: var(--color-box);
    border-radius: 20px;
    padding: 10px 25px;
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
}

.boxes a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--color-dark);
}

.boxes:hover {
    background-color: var(--color-shadowbox);
    transition: 0.3s;
}

.spotify {
    margin: 0px 60px;
    width: 64px;
}

.linha1 {
    width: 30%;
    height: 1px;
    background-color: var(--color-dark);
    margin: 86px auto 50px;
    border-radius: 0.5px;
}

.curiosidades {
    font-family: 'Just Me Again Down Here';
    font-size: 30px;
    font-weight: normal;
}

.caixa-de-texto1 {
    width: 875px;
    margin: 0 auto;
}

.texto1 {
    font-family: 'Comic Neue', cursive;
    font-size: 25px;
    padding: 25px;
    text-align: left;
}

.linha2 {
    width: 30%;
    height: 1px;
    background-color: var(--color-dark);
    margin: 20px auto 40px;
    border-radius: 0.5px;
}

.colaboradores {
    font-family: 'Just Me Again Down Here';
    font-size: 30px;
    font-weight: normal;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    max-width: 1200px;
}

.image-box {
    flex-direction: column;
    display: flex;
    gap: 20px;
    align-items: center;
}

.image-box img {
    width: 110px;
    border-radius: 26px;
    text-align: center;
}

.fotos1 {
    padding: 76px 0;
    display: inline-flex;
    gap: 50px;
}

.fotos2 {
    display: inline-flex;
    gap: 100px;
}

.image-box a {
    padding: 0px 10px;
    display: block;
    font-size: 40px;
    color: var(--color-dark);
    text-decoration: none;
}

.image-box a:hover {
    background-color: var(--color-box);
    border-radius: 10px;
    transition: 0.5s;
}

.linha3 {
    width: 30%;
    height: 1px;
    background-color: var(--color-dark);
    margin: 76px auto 88px;
    border-radius: 0.5px;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.container2 h2, .container2 h3 {
    font-family: 'Just Me Again Down Here';
    font-size: 40px;
}

.container2 a {
    margin-top: -10px;
    position: relative;
    top: -10px;
}

.boxes1, .boxes2, .boxes3 {
    background-color: var(--color-box);
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 660px;
    border-radius: 25px;
}
.boxes1 p, .boxes2 p, .boxes3 p {
    margin: 10px;
    font-family: 'Comic Neue', cursive;
    font-size: 19px;
    text-align: left;
}

.boxes1 a, .boxes2 a, .boxes3 a,
.boxes1 h3, .boxes2 h3, .boxes3 h3 {
    background-color: var(--color-shadowbox3);
    text-decoration: none;
    color: var(--color-dark);
    font-weight: 500;
    padding: 10px, 20px;
    display: block;
    width: 100%;
    border-radius: 0 0 25px 25px;
}

.boxes1 .vm {
    width: 340px;
    align-self: center;
    margin-top: 23px;
    line-height: 2.18
}

.boxes2 div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.boxes2 .vm {
    width: 340px;
    align-self: center;
    margin-top: 18px;
    line-height: 2.18
}

.boxes2 {
    background-color: var(--color-box);
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 300px;
    height: 660px;
    border-radius: 25px;
}

.vm {
    width: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: auto;
}

.boxes1 a:hover, .boxes2 a:hover, .boxes3 a:hover,
.boxes1 h3:hover, .boxes2 h3:hover, .boxes3 h3:hover {
    background-color: var(--color-shadowbox2);
    transition: 0.5s;
    box-sizing: border-box;
}

.boxes2 img, .boxes3 img {
    width: 50px;
    border-radius: 10px;
}

.boxes2 img, p {
    display: inline-flex;
    align-items: center;
}

.mcvv, .tokyo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
}

.linha4 {
    display: block;
    background-color: var(--color-dark);
    height: 1px;
    width: 70%;
    border-radius: 0.5px;
    position: relative;
    z-index: 1;
}

.mcvv img {
    order: -1;
}

.tokyo img {
    order: 1;
}

.boxes3 p {
    font-size: 18.8px;
}

.boxes3 .vm {
    position: relative;
    top: 33px;
    width: 340px;
    align-self: center;
    margin-top: 24px;
    line-height: 2.18;
}

footer {
    background-color: #222222;
    min-width: 1400px;
    margin: 0 auto;
    padding: 38px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 96%;
}

footer .p1 {
    margin: 0 500px 0;
    text-align: center;
    font-size: 30px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-container, .p1, .p2 {
    font-size: 20px;
}
